.footer {
  background-color: #F8F9FA;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  font-family: 'Switzer-Regular', sans-serif;
  border-top: 1px solid #E1E1E1;
}

.footer a:hover {
  font-family: 'Switzer-Regular', sans-serif;
}

.footer a:nth-of-type(2):hover {
  font-family: 'Switzer-Semibold', sans-serif;
}